.containerPlanets {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-top: 20px;
  border: solid 1px cyan;
  background-color: rgba(255, 140, 0, 0.85);
  margin: 10px 5%;
  border-radius: 5px;
  color: #000;
}

.h1Planet{
    text-align: center;
    font-size: 2em;
    margin: 10px;
}

.infoPlanet{
    color: #000;
    font-size: 1.1em;
}

.planet{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.imgPlanet{
    width: 300px;
    height: 250px;
    border-radius: 15px;
}

hr{
    border: 1px solid #000;
    width: 93%;
    margin: 10px 1em;
}