footer{
    background-color: rgb(255, 140, 0);
    width: 100%;
    height: auto;
    bottom: 0;
    position: fixed;
    z-index: 1001;
}

.information{
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
}

hr{
    width: 450px;
    margin: 0 auto;
    border: 1px solid white;
}

.icons{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 5px;
    gap: 20px
}

.icon{
    width: 30px;
    height: 30px;
}

.dev{
    text-align: center;
    font-size: 14px;
    padding-bottom: 5px;
}

.linkedin{
    color: #0077B5;
}

.github{
    color: #000;
}

@media (max-width: 490px) {
    .information{
        font-size: 12px;
        padding: 5px 0 5px 0;
    }

    .icon{
        width: 20px;
        height: 20px;
    }

    .dev{
        font-size: 10px;
    }
}

@media (max-height: 490px) {
    .information{
        font-size: 10px;
        padding: 5px 0 5px 0;
    }

    .icon{
        width: 20px;
        height: 20px;
    }

    .dev{
        font-size: 10px;
    }
}
