footer{
    background-color: rgb(255, 140, 0);
    width: 100%;
    height: auto;
    bottom: 0;
    position: fixed;
}

.information{
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
}

hr{
    width: 450px;
    margin: 0 auto;
    border: 1px solid white;
}

.icons{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 5px;
    gap: 20px
}

.icon{
    width: 30px;
    height: 30px;
}

.dev{
    text-align: center;
    font-size: 14px;
}

.linkedin{
    color: #0077B5;
}

.github{
    color: #000;
}