nav {
  background-color: rgb(255, 140, 0);
  width: 100%;
  min-width: 0;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1001;
  padding: 0 10px;
}

.btnBack {
  position: absolute;
  left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBack {
  width: 25px;
  height: 25px;
  color: #fade03;
}

.left {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
}

.right {
  display: flex;
  align-items: center;
}

.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  background-color: #000;
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fade03;
  padding: 5px;
}

.containerIcon {
  display: flex;
  align-items: center;
}

@media (max-width: 490px) {
  .logo {
    width: 100px;
    height: auto;
  }

}