nav {
  background-color: rgb(255, 140, 0);
  width: 100%;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.btnBack {
  position: absolute;
  left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBack {
  width: 25px;
  height: 25px;
  color: #fade03;
}

.left {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 150px;
  height: auto;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.iconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  background-color: #000;
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fade03;
  padding: 5px;
}

.containerIcon {
  display: flex;
  align-items: center;
}
