.containerSides{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.image{
    max-width: 45%;
    transition: opacity 1s ease-in-out;
}

img{
    width: auto;
    height: auto;
    max-height: 400px;
    padding: 5px;
}

.hidden{
    opacity: 0;
}

@media (max-width: 490px) {
    .containerSides{
        display: none;
    }
}

@media (min-width: 900px) {
    img{
        width: auto;
        height: auto;
        max-height: 450px;
        padding: 5px;
    }
}

@media (min-width: 1090px) {
    img{
        width: auto;
        height: auto;
        max-height: 550px;
        padding: 5px;
    }
}

@media (max-height: 490px) {
    img{
        width: auto;
        height: auto;
        max-height: 300px;
        padding: 5px;
    }
}